<p>users works!</p>
<div>
  <ng-container *ngIf="userId === 0">
    <h3>{{ loading }}</h3>
  </ng-container>
  <ng-container *ngIf="userId !== 0">
    <h3>User Id:{{ userId }}</h3>
  </ng-container>
  <ng-container *ngIf="postId === 0">
    <h2>{{ loading }}</h2>
  </ng-container>
  <ng-container *ngIf="comments.length > 0">
    <h4>Post Id: {{ postId }}</h4>
    <div>No. Of Comments : {{ comments.length }}</div>
    <ul *ngFor="let comment of comments">
      <li>
        <div>{{ comment.id }}</div>
        <div>{{ comment.name }}</div>
        <div>{{ comment.email }}</div>
        <p>{{ comment.body }}</p>
      </li>
    </ul>
  </ng-container>
</div>
